:root {
	--container-width: 1200px;
	--default-font: "Outfit", sans-serif;
	--background-color: hsl(249, 10%, 5%);

	/* Primary Colors */
	--primary-blue-100: #dfeeff;
	--primary-blue-200: #b8dfff;
	--primary-blue-300: #78c5ff;
	--primary-blue-400: #4bb3ff;
	--primary-blue-500: #068df1;
	--primary-blue-600: #006ece;
	--primary-blue-700: #0058a7;
	--primary-blue-800: #024a8a;
	--primary-blue-900: #083f72;

	/* Neutral Colors */
	--neutral-zinc-100: #f4f4f5;
	--neutral-zinc-200: #e4e4e7;

	/* Accent Colors */
	--accent-red: #be123c;
	--accent-blue: #1d4ed8;
	--accent-green: #047857;

	/* Font Sizes */

	--fs-base-size: 1em;
	--text-scale-ratio: 1.2;

	--fs-sm: calc(1em / var(--text-scale-ratio));
	--fs-md: calc(1em * var(--text-scale-ratio));
	--fs-lg: calc(var(--fs-md) * var(--text-scale-ratio));
	--fs-xl: calc(var(--fs-lg) * var(--text-scale-ratio));
	--fs-xxl: calc(var(--fs-xl) * var(--text-scale-ratio));
	--fs-xxxl: calc(var(--fs-xxl) * var(--text-scale-ratio));

	/* Font Weights */
	--fw-normal: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* Spacing */
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 20px;
	--space-lg: 32px;
	--space-xl: 52px;
	--space-xxl: 84px;
}

@mixin container {
	max-width: var(--container-width);
	margin: 0 auto;
}

*,
*::before,
*::after {
	margin: 0;
}

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex-grow: 1;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 0 var(--space-lg);

	font-family: var(--default-font);
	font-size: var(--fs-base-size);

	background-color: var(--background-color);
	color: var(--neutral-zinc-100);
}

header {
	@include container;
	margin-top: var(--space-xl);

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--fs-xxl);
	}
}

main {
	@include container;
	width: 100%;
	margin-top: var(--space-xl);

	display: grid;
	grid-template-columns: auto minmax(auto, 1fr);
	gap: var(--space-md);

	#add-book-form {
		max-width: fit-content;
		display: flex;
		flex-direction: column;

		h2 {
			font-size: var(--fs-xl);
		}

		label {
			font-weight: var(--fw-semi-bold);
			font-size: var(--fs-md);
		}
	}

	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
		gap: var(--space-lg);
		justify-content: center;

		.card {
			h2 {
				color: var(--primary-blue-400);
			}
			font-size: var(--fs-lg);
			border: 1px solid var(--primary-blue-400);
			border-radius: var(--space-xs);
			padding: var(--space-xs);
		}
	}
}
