:root {
  --container-width: 1200px;
  --default-font: "Outfit", sans-serif;
  --background-color: hsl(249, 10%, 5%);
  /* Primary Colors */
  --primary-blue-100: #dfeeff;
  --primary-blue-200: #b8dfff;
  --primary-blue-300: #78c5ff;
  --primary-blue-400: #4bb3ff;
  --primary-blue-500: #068df1;
  --primary-blue-600: #006ece;
  --primary-blue-700: #0058a7;
  --primary-blue-800: #024a8a;
  --primary-blue-900: #083f72;
  /* Neutral Colors */
  --neutral-zinc-100: #f4f4f5;
  --neutral-zinc-200: #e4e4e7;
  /* Accent Colors */
  --accent-red: hsl(345, 60%, 50%);
  --accent-blue: #1d4ed8;
  --accent-green: #047857;
  /* Font Sizes */
  --fs-base-size: 1em;
  --text-scale-ratio: 1.2;
  --fs-sm: calc(1em / var(--text-scale-ratio));
  --fs-md: calc(1em * var(--text-scale-ratio));
  --fs-lg: calc(var(--fs-md) * var(--text-scale-ratio));
  --fs-xl: calc(var(--fs-lg) * var(--text-scale-ratio));
  --fs-xxl: calc(var(--fs-xl) * var(--text-scale-ratio));
  --fs-xxxl: calc(var(--fs-xxl) * var(--text-scale-ratio));
  /* Font Weights */
  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  /* Spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 20px;
  --space-lg: 32px;
  --space-xl: 52px;
  --space-xxl: 84px;
}

*,
*::before,
*::after {
  margin: 0;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--default-font);
  font-size: var(--fs-base-size);
  background-color: var(--background-color);
  color: var(--neutral-zinc-100);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: var(--fs-sm);
  }
}
header {
  max-width: var(--container-width);
  margin: 0 auto;
  margin-top: var(--space-lg);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-xxl);
}

.form-modal {
  background-color: var(--primary-blue-600);
  border-radius: var(--space-sm);
  padding: var(--space-md) var(--space-md);
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.form-modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.form-modal h2 {
  text-align: center;
  font-size: var(--fs-xxxl);
  margin-bottom: var(--space-sm);
}
.form-modal #add-book-form {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-modal #add-book-form label {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-md);
  margin-top: var(--space-sm);
}
.form-modal #add-book-form input {
  font-size: var(--fs-md);
  padding: var(--space-xs);
  border: none;
  border-radius: var(--space-sm);
}
.form-modal #add-book-form button {
  cursor: pointer;
  background-color: var(--primary-blue-800);
  color: var(--neutral-zinc-100);
  border-radius: var(--space-sm);
  padding: var(--space-xxs);
  margin: 0 auto;
  margin-top: var(--space-sm);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
  border: none;
  width: 50%;
}
.form-modal #add-book-form button:hover {
  filter: brightness(0.9);
}
.form-modal .error {
  color: var(--primary-blue-600);
  margin-top: var(--space-sm);
  font-size: var(--fs-md);
  font-weight: var(--fw-semi-bold);
}
.form-modal .error.true {
  color: var(--neutral-zinc-100);
  border-bottom: 3px solid var(--accent-red);
}

main {
  max-width: var(--container-width);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-top: var(--space-xl);
  padding: 0 var(--space-md);
}
main .add-book-btn {
  cursor: pointer;
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  padding: var(--space-xxs) var(--space-xs);
  color: var(--primary-blue-700);
}
main .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  gap: var(--space-lg);
  justify-content: center;
  margin-top: var(--space-lg);
}
main .cards-container .card {
  font-size: var(--fs-xl);
  padding: var(--space-sm);
  border: 1px solid var(--primary-blue-400);
  border-radius: var(--space-xs);
}
main .cards-container .card h2 {
  color: var(--primary-blue-400);
}
main .cards-container .card p {
  text-transform: capitalize;
}
main .cards-container .card .read {
  cursor: pointer;
  max-width: 70%;
  margin: 0 auto;
  margin-top: var(--space-sm);
  text-align: center;
  border-radius: var(--space-sm);
  background-color: var(--accent-red);
}
main .cards-container .card .read:hover {
  filter: brightness(0.8);
}
main .cards-container .card .read.true {
  background-color: var(--accent-green);
}
main .cards-container .card .remove {
  cursor: pointer;
  max-width: 70%;
  margin: 0 auto;
  margin-top: var(--space-sm);
  border-radius: var(--space-sm);
  text-align: center;
  background-color: var(--primary-blue-900);
}
main .cards-container .card .remove:hover {
  filter: brightness(0.8);
}

/*# sourceMappingURL=styles.css.map */
